header
    - if(page_title)
        h1= page_title
    - else
        h1= sitemeta.site_title
    - if(usermeta.user)
        span Hello! #{usermeta.user}
        span
            a(href="/admin/logout") Logout
        span
            a(href="/admin") admin panel
    - else
        span
            a(href="/admin/login") Login
    nav
        span
            a(href="/") Home
        span  | 
        span
            a(href="..") Back
hr