doctype html
html
    include head
    body
        include header
        form(action="/admin/login", method="post")
            p user:
                input(type="text", name="user")
            p password:
                input(type="password", name="password")
            input(type="submit", value="submit")
        include footer